h1 {
    text-align: center;
    color: rgb(253, 253, 253);
    text-shadow: 2px 2px 5px rgb(132, 199, 185);
    letter-spacing: 5px;
    font-weight: bold; 
    color: rgb(232, 232, 232);
    background-color: rgb(193, 138, 225);
padding: 10px;
border-radius: 10px;
transition: color 0.3s ease; 
animation: blink 1s infinite;
}
h1:hover {
    color: rgb(157, 57, 57);
}
body {
    background-image: url('https://images8.alphacoders.com/132/1323371.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80vh;
    align-items: flex-start; /* Align items to top */
}
.image-container {
    display: flex;
    justify-content: space-between; /* Adds spacing between the images */
    align-items: center; /* Vertically centers the images */
    padding: 20px; /* Optional padding around the images */
}

/* Ensuring the images have the same size and some margin */
.image-container img {
    width: 95%; /* Adjusts the width of each image */
    height: auto;
    border-radius: 8px; /* Optional rounded corners */
}
.image-section {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.image-section img {
    display: block;
    margin: 0 auto;
}


.image-section p {
    width: auto;
    max-width: 100%;
    margin-top: 80px; /* Space between the image and the text */
    font-size: 16px;
    color: #333;
}