h1 {
    text-align: center;
    color: rgb(209, 168, 33);
    text-shadow: 2px 2px 5px rgb(132, 199, 185);
    letter-spacing: 5px;
    font-weight: bold; 
    color: rgb(201, 197, 69);
    background-color: rgb(114, 73, 23);
padding: 10px;
border-radius: 10px;
transition: color 0.3s ease; 
animation: blink 1s infinite;
}
h1:hover {
    color: rgb(106, 196, 187);
}
body {
    background-image: url('https://www.bhmpics.com/downloads/beige-brown-aesthetic-wallpaper/14.37840a82643a2247ee13947eb94de09c.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80vh;
    align-items: flex-start; /* Align items to top */
}
.image-container {
    display: flex;
    justify-content: space-between; /* Adds spacing between the images */
    align-items: center; /* Vertically centers the images */
    padding: 40px; /* Optional padding around the images */
}

/* Ensuring the images have the same size and some margin */
.image-container img {
    width: 310px; /* Adjusts the width of each image */
    height: 210px;
    object-fit: cover;
    border-radius: 8px; /* Optional rounded corners */
}
.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-bottom: 20px;
    min-height: 450px;
}
.image-section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}


.image-section p {
    width: auto;
    max-width: 100%;
    margin-top: 100px; /* Space between the image and the text */
    font-size: 25px;
    color: #c7b168;
    background-color: #492718;
    word-wrap: break-word;
    padding: 5px;
    text-align: center;
}
